@using EntityLayer.Models.ViewModel
@model TeacherLessonViewModel
@{
    ViewBag.Title = "Ders Seçimi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery.session.js"></script>
<script>
    $(document).ready(function () {
        $("#table").basictable();
    });
</script>
<script>
    $(document).ready(function () {
        $(".AddLesson").click(function () {
            if (confirm("Dersi Almak İstediğinize Emin Misiniz?")) {
                var LessonID = $(this).attr("name");
                var TeacherID = $(this).attr("id");
                jQuery.session.set("TeacherID", TeacherID);
                $.ajax({
                    url: "/Student/AddLesson",
                    type: "POST",
                    dataType: "json",
                    data: { TeacherID: TeacherID, LessonID: LessonID },
                    success: function (json) {
                        if (json.isRedirect) {
                            alert(json.message);
                            window.location.href = json.redirectUrl;
                        }
                        if (json.isRedirect == false) {
                            alert(json.message);
                        }

                    }
                });
            }

        });
    });
</script>

@foreach (var student in Model.Student)
{
    @section img{
        <img src="~/StudentImages/@student.Image" alt="">
    }
}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Anasayfa</a><i class="fa fa-angle-right"></i>Ders Seçimi</li>
</ol>
<!-- faq -->

<div class="w3l-table-info">
    <h2>Seçili Olan Dersler</h2>
    <table id="table">
        <thead>
            <tr>
                <th>Seçtiğiniz Dersler</th>
                <th>Öğretmen Adı</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sl in Model.StudentLesson)
            {
                foreach (var student in Model.Student)
                {
                    if (sl.StudentNumber == student.StudentNumber)
                    {
                        <tr>
                            <td>@sl.Lesson.LessonName</td>
                            <td>@sl.Teacher.Name @sl.Teacher.Surname</td>
                        </tr>
                    }
                }
            }

        </tbody>
    </table>



</div>

<div class="w3l-table-info">
    <h2>Bütün Dersler</h2>
    <table id="table">
        <thead>
            <tr>
                <th>Ders Adı</th>
                <th>Öğretmen Adı</th>
                <th>Ekle</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Lesson)
            {
                foreach (var item2 in item.TeacherLessons)
                {
                    <tr>
                        <td>@item.LessonName</td>
                        <td>@item2.Teacher.Name @item2.Teacher.Surname</td>
                        <td><a href="#" class="AddLesson" id="@item2.TeacherID" name="@item.LessonID">Dersi Ekle</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>



@*@foreach (var student in tl.Lesson.StudentLessons)
    {
        <tr>
            <td>@student.Student.Name @student.Student.Surname</td>
            <td>@student.StudentNumber</td>
        </tr>

    }*@


@*<td><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Bak</button></td>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title" id="myModalLabel" style="color:black">Bu Dersi Seçen Öğrencilerin Listesi</h2>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>*@

<!-- //faq -->
<!-- script-for sticky-nav -->
<!-- /script-for sticky-nav -->
<!--inner block start here-->
<div class="inner-block">

</div>
<!--inner block end here-->
<!--copy rights start here-->
<div class="copyrights">
    <p>© @DateTime.Now.Year Tüm Hakları Saklıdır | Ali Bulut Tarafından Dizayn Edildi</p>
</div>
<!--COPY rights end here-->
